<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
<<<<<<< HEAD
  <%= render "public/shared/error_messages", resource: resource %>
=======
<<<<<<< HEAD
  <%= render "publics/shared/error_messages", resource: resource %>
=======
  <%= render "public/shared/error_messages", resource: resource %>
>>>>>>> 81affd30eaa5b799c80238b3e53559e30a807207
>>>>>>> refs/remotes/origin/orders_show

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions" %>
  </div>
<% end %>

<<<<<<< HEAD
<%= render "public/shared/links" %>
=======
<<<<<<< HEAD
<%= render "publics/shared/links" %>
=======
<%= render "public/shared/links" %>
>>>>>>> 81affd30eaa5b799c80238b3e53559e30a807207
>>>>>>> refs/remotes/origin/orders_show
