<div class="container">
  <div class="row">
    <h1>商品一覧</h1>
  </div>

    <div class="text-right">
      <%= link_to '新規登録', new_admin_item_path, class: 'btn btn-info' %>
    </div>


  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <div class="col-2">
            <th>販売ステータス</th>
          </div>
    
        </tr>
      </thead>
      <tbody>
        <% @item.each do |item| %>
        <tr>
          <th scope="row"><%= item.id %></th>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
          <td><% if item.is_active == true %>
                <p>販売中</p>
              <% else %>
                <p>在庫切れ</p>
              <% end %>
          </td>
          <td><%= link_to '詳細', admin_item_path(item.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
