<div class="container">
  <h3>商品詳細</h3>
  <div calss="row">
    <div>
      <%= attachment_image_tag @item, :image,  size: "300x300" %>
      <%#= image_tag @item.image_id, size: "200x200" %>
    </div>
    <table>
      <tr>
        <td>商品名</td>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <td>ジャンル</td>
        <td><%= @item.genre.name %></td>
      </tr>
      <tr>
        <td>商品説明</td>
        <td><%= @item.introduction %></td>
      </tr>
      <tr>
        <td>税込価格</td>
        <td><%= @item.price %></td>
      </tr>
      <tr>
        <td>販売ステータス</td>
        <% if @item.is_active == true %>
          <td>販売中</td>
        <% else %>
          <td>在庫切れ</td>
        <% end %>
      </tr>
    </table>
  </div>
  <div>
    <%= link_to '編集', edit_admin_item_path(@item.id) %>
  </div>
</div>