<div class="container">
  <div class="row align-items-center" style="height:200px">
    <div class="col-lg-11">
      <h2>ログイン</h2>
      <p>会員の方はこちらからログイン</p>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">メールアドレス</label>
          <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control",placeholder: "sample@example.com" %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">パスワード</label>
          <div class="col-sm-10">
          <%= f.password_field :password, autocomplete: "current-password",class: "form-control" %>
          </div>
        </div>
        
        <div class="section1 text-center">
          <%= f.submit "ログイン",class: "btn btn-primary" %>
        </div>
      <% end %>
      <p>会員登録がお済みでない方</p>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>